<html>
    <h1>
        Textail
    </h1>
    <body>
      
            <form asp-controller="Shop2" asp-action="AddDetail" method="post">
            Item <input type = "text" name= "item" /> <br />
            Color <input type = "text" name = "color" /><br />
            Price <input type = "text" name = "rate" /><br />
            <input type = "submit" />
        </form>
    </body>
</html>